# Vamos criar a tabela que ir√° receber os dados do data.csv

In [1]:
CREATE SCHEMA airbnb;

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'airbnb' in the database.

: Msg 2759, Level 16, State 0, Line 1
CREATE SCHEMA failed due to previous errors.

In [3]:
CREATE TABLE airbnb.data (
    date TEXT,
    price FLOAT,
    bedrooms FLOAT,
    bathrooms FLOAT,
    sqft_living INT,
    sqft_lot INT,
    floors FLOAT,
    waterfront INT,
    "view" INT,
    condition INT,
    sqft_above INT,
    sqft_basement INT,
    yr_built INT,
    yr_renovated INT,
    street TEXT,
    city TEXT,
    statezip TEXT,
    country TEXT
);