# Create a Master Key

In [3]:
CREATE MASTER KEY ENCRYPTION BY PASSWORD = 'test12332$';

: Msg 15578, Level 16, State 1, Line 1
There is already a master key in the database. Please drop it before performing this statement.

# Create SAS credentials

In [50]:
CREATE DATABASE SCOPED CREDENTIAL blobcred2
WITH IDENTITY = 'SHARED ACCESS SIGNATURE', 
SECRET = '?sv=2022-11-02&ss=bfqt&srt=sco&sp=rwdlacupiytfx&se=2023-11-09T22:58:02Z&st=2023-10-31T14:58:02Z&spr=https,http&sig=4yUOJDmBeHkekC0GBT3Qe9Rmd3tCsOZeA5mJWcBySnc%3D';

In [51]:
SELECT * from sys.credentials

# CREATE AN EXTERNAL DATA SOURCE BY USING `credentials`

In [54]:
CREATE EXTERNAL DATA SOURCE mastercloudtrilha03sa5
    WITH (
        TYPE = BLOB_STORAGE,
        LOCATION = 'https://mastercloudtrilha03sa.blob.core.windows.net/sql/airbnb/raw/',
        CREDENTIAL = blobcred2
    );

# CREATE TABLE AND LOAD DATA USING BULK INSERT

In [34]:
DROP TABLE airbnb.listings;
DROP SCHEMA airbnb;

In [35]:
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE SCHEMA airbnb;
GO

CREATE TABLE [airbnb].[listings](
	[id] [int] NULL,
	[name] [nvarchar](255) NULL,
	[host_id] [int] NULL,
	[host_name] [nvarchar](255) NULL,
	[neighbourhood_group] [nvarchar](50) NULL,
	[neighbourhood] [nvarchar](50) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[room_type] [nvarchar](50) NULL,
	[price] [int] NULL,
	[minimum_nights] [int] NULL,
	[number_of_reviews] [int] NULL,
	[last_review] [date] NULL,
	[reviews_per_month] [float] NULL,
	[calculated_host_listings_count] [int] NULL,
	[availability_365] [int] NULL
) ON [PRIMARY]
GO

# BULK INSERT INTO OUR TABLE

In [57]:
BULK INSERT [airbnb].[listings] FROM 
    'listings.csv' 
WITH (DATA_SOURCE = 'mastercloudtrilha03sa5', FIRSTROW = 2, FIELDTERMINATOR = ',', ROWTERMINATOR = '\n')

: Msg 4861, Level 16, State 1, Line 1
Cannot bulk load because the file "listings.csv" could not be opened. Operating system error code 5(Access is denied.).